<!DOCTYPE html>
<html>

<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />
</head>

<body>
    <footer>
        Footer
    </footer>
</body>

</html>