<!DOCTYPE html>
<html>

<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <footer class="footer-total">
        <div class="footer">
            <div class="footer-main">
                <div class="row">
                    <div class="row-1 col-sm-5">
                        <div class="logo">
                            <img src="logo.PNG" height="100px" width="135px">
                        </div>
                        <div class="content">
                            <p>Chào mừng bạn đến với diễn đàn chia sẽ kinh nghiệm nuôi dạy chăm sóc con của các bậc cha mẹ.</p>
                        </div>
                    </div>
                    <div class="row-2 col-sm-3">
                        <div class="title-row2">
                            <b>Liên kết</b>
                        </div>
                        <div class="list-link">
                            <ul id="ul">
                                <li>Aws</li>
                                <li>Nodejs</li>
                                <li>DynamoDB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-3 col-sm-4">
                        <div class="title-row3">
                            <b>Liên hệ</b>
                        </div>
                        <div class="contact-info">
                            <p>Số 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, TP.HCM</p>
                            <i class="fa fa-phone-square"></i> Phone : 01233456456
                            <br><i class="fa fa-envelope"></i> Email : thanhson02698@gmail.com
                        </div>
                        <div class="social">
                            <p class="follow">Follow us</p>
                            <div class="linl-social">
                                <ul class="ul-row3">
                                    <li class="social1">
                                        <a href="">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                Copyright © 2020 - Phát triển bởi Nhóm 19 Đồ Án Tốt Nghiệp 2019-2020 - ĐHCN TP.HCM
            </div>
        </div>
    </footer>
</body>


</html>