section{
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
    padding-top: 200px;
}
.binhluan{
    width: 1200px;
}
.binhluan img{
    width: 100px;
    float: left;
}
textarea{
    width: 900px;
    height: 200px;
    font-size: 20px;
    font-weight: normal;
}
.dangbinhluan{
    width: 1100px;
    margin-left: 60px;
    margin-top: 30px;
}
.dangbinhluan button{
    font-size:20px;
    background:orange;
    padding:10px 5px;
    border:none;
    margin:5px;
    border-radius:6px;
    transition:0.5s;
    float: right;
    margin-left: 30px;
}

/*=======================*/
.baonoidung{
    padding-top: 50px;
    font-family: tahoma !important;
    font-size: 17px;
    padding-left: 20px;
    font-weight: 800;
}
.noidung{
    width: 870px;
    float: left;
}
.widget-title{
    text-align: center;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    padding: 0px;
    text-transform: uppercase;
}
.widget-title h2{
    color: #ffffff;
    font-size: 17px;
    height: 33px;
    line-height: 33px;
    font-weight: 800;
    letter-spacing: -0.5px;
    padding: 0px 15px 0px 9px;
    margin-bottom: 0px;
    float: left;
    background-color: antiquewhite;
    border-radius: 0px 20px 0px 0px;
    opacity: 1;
}
.suckhoe{
    border-bottom: 5px solid rgb(134, 132, 14);
    opacity: 1;
}
.suckhoe h2{
    background-color: rgb(134, 132, 14);
}
.widget-title a h2:hover{
    opacity: 0.6;
}
.baidang{
    float: left;
    padding-bottom: 15px;
    text-align: left;
}
.ndmuc{
    text-align: left;   
    font-weight: normal;
}
.ndmuc img{
    float: left;
}
.anh-dai-dien{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
/*--Comment*/
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block }

a {
    color: #6d84b4;
    text-decoration: none;
}

.comments {
    background: rgba(255,255,255,0.9);
    padding-top: 20px;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
    width: 94%;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img { display: block }

.comment-body { overflow: hidden }

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child { margin: 0 }

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}


.comment:hover:before { background: #3b5998 }

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.traloibinhluan{
    margin-top: 10px;
    width: 84%;
    margin-left: 130px;
}
.dangbl{
    display: none;
}
.dangbl img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.traloibinhluan textarea{
    width: 500px;
    height: 100px;
}
/*===========================*/
.nd-read-more{
    text-decoration: none;
    height: 20px;
    padding: 10px;
    background-color: white;
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 10px;
}
.nd-read-more:hover{
    opacity: 0.6;
}
.muc{
    padding-bottom: 20px;
}
.ndquantam{
    width: 280px;
    float: right;
    text-transform: uppercase;
    background-color: rgb(30, 114, 30);
    text-align: center;
}
#baivietquantam{
    bottom: 0;
    left: 0;
    padding: 15px;
    border-bottom: 2px dashed white;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.85;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0; 
    color:white;
}

.qt-div{
    text-align: center;
}
.qt-div img{
    width: 250px;
    margin-top: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.qt-div img:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.qt-div p{
    display: block;
    display: -webkit-box;
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    color: white;
    width: 250px;
}
.ndquantam a{
    text-decoration: none;
}
.qt-div p:hover{
    opacity: 0.6;
}